:root{
    /* Color */
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --primary-color:#fcaf17;
    /* Height */
    --height-header: 150px;
    --height-topbar: 104px;
    --height-topbar_banner: 80px;
    --height-header_navbar: calc(var(--height-header) - var(--height-topbar));
    --width-nav-mobile:330px;
    --height-nav-mobile:60px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    box-sizing: inherit;
    text-decoration: none;
}
html{
    font-size: 62.5%;
    line-height:1.5rem;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.d-none{
    display: none;
}
.d-block{
    display: block;
}
.btn-more{
    line-height: 46px;
    border: 1px solid var(--primary-color);
    font-size: 1.8rem;
    display: block;
    /* width: 286px; */
    margin: 20px auto 10px;
    border-radius: 4px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--white-color);
}
.btn-more:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
}
.title-block{
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.8rem;
    color: var(--primary-color);
    text-transform: uppercase;
    line-height: 1.8rem;
}
.flash-title{
    background-color: #feeeea;
    color: #22215b;
    text-align: center;
    padding: 5px 0 5px;
    font-size: 1.4rem;
    margin-bottom: 5px;
}
.flash-title b{
    color: var(--primary-color);
    font-weight: 600;
}
/* Css sidebar */
.max-height{
    max-height: 125px;
    overflow: hidden;
}
.max-height-unset{
    max-height: unset;
}
.filter-show-less,
.filter-show-more{
    font-size: 1.6rem;
    text-align: center;
    cursor: pointer;
    width: 100%;
    color: var(--primary-color);
    margin-bottom: 15px;
    /* display: none; */
}
/* design scrollbar */
.edit-scrollbar::-webkit-scrollbar{
    width: 4px;
}
.edit-scrollbar::-webkit-scrollbar-thumb{
    background-color: #e3e3e3;
}
.edit-scrollbar-filter::-webkit-scrollbar{
    width: 6px;
}
.edit-scrollbar-filter::-webkit-scrollbar-thumb{
    background-color: #7a7a9d;
    border-radius: 20px;
}
.edit-scrollbar-filter::-webkit-scrollbar-track{
    background-color: #dde1ef;
}
.edit-scrollbar::-webkit-scrollbar-track{
    background-color: var(--white-color) ;
}