/* Header */
.header{
    height: var(--header);
    box-shadow: 0 6px 12px 0 rgb(0 0 0 / 4%);
    position: relative;
    z-index: 1;
    border-bottom: 1px #dde1ef solid;
}

.header .topbar{
    height: var(--header-topbar);
}

.topbar__banner{
    height: var(--height-topbar_banner);
    width: 100%;
}

.topbar__banner-link{
    display: block;
    height: 100%;
    background: url("https://bizweb.dktcdn.net/100/438/408/themes/848101/assets/bannertop.jpg?1646899690111") center center no-repeat;
}

.topbar__list{
    height:30px;
    display: flex;
    font-size: 1.2rem;
    padding: 0 10px;
}

.topbar__list-item{
    line-height: 32px;
    margin-right: 18px;
}

.topbar__list-item .link-item {
    text-decoration: none;
    color: var(--text);
}

.topbar__list-item .link-item i{
    font-size: 1.5rem;
    color: var(--black-color);
    margin-right: 4px;
}

.topbar__list-item .link-item .text-color{
    color: var(--primary-color);
}

.topbar__list-item .img-free{
    height: 50%;
    vertical-align: text-bottom;
}

.header-nav{
    display: flex;
    height: var(--height-header_navbar);
    align-items: center;
    padding: 0 10px;
}

.header-nav__left{
    display: flex;
    align-items: center;
    height: 100%;
}

.header-nav__logo{
    display: block;
    width: 62px;
}

.header-nav__list{
    margin-left: 40px;
    display: flex;
    align-content: center;
    height: 100%;
    line-height: 100%;
}

.header-nav__item{
    padding: 0 10px;
    height: 100%;
    display: flex;
}

.header-nav__item .header-nav__item-link{
    height: 100%;
    padding: 20px 0;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--black-color);
    position: relative;
}

.header-nav__item:first-child .header-nav__item-link{
    color: var(--primary-color);
}

.header-nav__item .header-nav__item-link::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom:0;
    background-color:var(--primary-color);
    transition: width ease .5s;
}
.header-nav__item:hover > .header-nav__item-link::after{
    width:100%;
}
.font-icon-down{
    color: var(--text-color);
    font-size: 1.2rem;
}
.header-nav__item:hover .header-nav__child {
    display: block;
}
/* Menu-item dropdown */
.header-nav__child{
    top: 100%;
    left: 0;
    right: 0;
    position: absolute;
    padding: 20px;
    background-color: var(--white-color);
    animation: fadeIn ease-in 0.2s;
    display: none;
}

.header-nav__child-item{
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    padding: 0 20px;
}
.menu-child-main{
    flex: 1;
    /* border: 1px solid blue; */
    color: var(--text-color);
    padding-left: 10px;
}
.menu-child-item__title{
    color: var(--black-color);
    font-weight: 500;
    display: block;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.menu-child-item__title:hover{
    color: var(--primary-color);
}

.menu-child-main .menu-child-item__list{
    display: flex;
    flex-wrap: wrap;
}

.menu-child-item{
    width: 20%;
    margin-bottom: 20px;
}

.menu-child-item ul li a{
    color: var(--text-color);
    font-size: 1.5rem;
    line-height:28px;
    font-weight: 200;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
}

.menu-child-item ul li a:hover{
    color: var(--primary-color);
}

.menu-child-item ul li a span{
    display: none;
}
.menu-child-item ul li a span.hot{
    display: block;
    position: absolute;
    top: -7px;
    left: calc(100% + 4px);
    font-size: 1.2rem;
    font-weight: 600;
    color: #ee4d2d;
    text-transform: uppercase;
}

/* Menu_banner */
.menu-child__banner{
    width: 220px;
}

.header-nav__right{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}
.header-search{
    height: 36px;
    margin-right: 35px;
    flex: 1;
    max-width:250px;
    display: flex;
    align-items: center;
    padding-left:15px;
    border-radius: 8px;
    border: 1px solid #DDE1EF;
}
.header-search:hover{
    border-color: var(--primary-color);
}
.input-search{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: var(--white-color);
    font-size: 1.4rem;
}
.header-search .btn-search{
    border: none;
    white-space: nowrap;
    width: 60px;
    height: calc(100% + 1px);
    background: #fcaf17 url('https://bizweb.dktcdn.net/100/438/408/themes/848101/assets/search.svg') center center no-repeat;
    overflow: hidden;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

.header-tool{
    height: 100%;
    display: flex;
    align-items: center;
}
.category-action__icon{
    font-size: 2.8rem;
    margin-left: 20px;
    color: var(--text-color);
    cursor: pointer;
}
.header-tool .wishlist-header,
.header-tool .header-cart {
    margin-left: 12px;
}

.header-tool .user .icon,
.header-tool .wishlist-header .icon {
    font-size:2.5rem;
    font-weight: 400;
    color: var(--black-color);
}

/* Header-tool User */
.header-tool .user{
    height: 100%;
    position: relative;
    padding: 0px;
}
.user_login{
    height: 100%;
    display: flex;
    align-items: center;
}

.user-list{
    position: absolute;
    top: 100%;
    right: 0;
    width: 150px;
    background-color: var(--white-color);
    box-shadow: 0px 3px 25px 0px rgb(31, 38, 67, 0.1);
    display: none;
}

.user:hover .user-list{
    display: block;
}

.user-list .user-list__item .user-list__item-link{
    text-decoration: none;
    display: block;
    width: 150px;
    font-size: 1.4rem;
    padding: 10px;
    color: rgb(73, 73, 73);
}
.user-list .user-list__item .user-list__item-link:hover{
    color: var(--primary-color);
}

/* Header-tool Wish List */
.header-tool .wishlist-header__icon{
    position: relative;
}

.headerWishlistCount,
.header-cart__count-item
{
    position: absolute;
    display: block;
    top: -22px;
    right: -10px;
    width: 19px;
    line-height: 19px;
    height: 19px;
    background: #fcaf17;
    color: #FFF;
    text-align: center;
    border-radius: 50%;
    font-size: 1.3rem;
    box-shadow: 0px 0px 3px 1px rgb(0 0 0 / 24%);
}
.header-cart__count-item.in-nav-mobile{
    top: -10px;
}

.header-cart,
.header-cart__icon{
    position: relative;
}

.top-cart-content{
    width: 480px;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--white-color);
    box-shadow: 0px 3px 25px 0px rgb(31, 38, 67, 0.1);
    animation: fadeIn ease-in 0.2s;
    display: none;
}

.top-cart-content__header{
    height:60px
}

.top-cart-content__header .title-link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #FFF;
    background-color: var(--primary-color);
    padding: 7px 16px 7px 15px;
    font-size:1.3rem;
    text-decoration: none;
}

.top-cart-content__header .title-link span:first-child{
    width: 100px;
    text-transform: uppercase;
    white-space: nowrap;
    height: 50px;
    line-height: 50px;
    border-right: 1px rgba(0,0,0,0.2) solid;
    padding-right: 105px;
    font-weight: 600;
}

.top-cart-content__header .title-link span:nth-child(2){
    padding: 0 26px;
    line-height:1.8rem;
    font-size: 1.4rem;
}

.top-cart-content__header .title-link .font-icon{
    font-size: 2rem;
}

.top-cart-content__body{
    max-height: 360px;
    padding: 15px 15px 0;
    overflow-y: auto;
}

.top-cart-content__footer{
    height: 100px;
}

.cart-body-row{
    margin-bottom: 15px;
    width: 100%;
    display: table;
}

.cart-body-row__img{
    display: table-cell;
    width: 83px;
    vertical-align: top;
    position: relative;
}

.cart-body-row__img img{
    max-width: 100%;
    height: auto;
}

.cart-body-row__info{
    padding-left: 15px;
}

.cart-body-row__info__name{
    margin-bottom: 9px;
    position: relative;
    padding-right: 20px;
}

.cart-product-name{
    margin-bottom:8px;
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: var(--text-color);
}

.cart-product-name:hover{
    color: var(--primary-color);

}

.cart-price{
    margin-bottom: 6px;
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary-color);
}

.cart-product-color-size{
    font-size: 1.4rem;
    display: inline-block;
    vertical-align: top;
    line-height: 26px;
    color: #363636;
    background: #F8F8F8;
    border-radius: 13px;
    padding: 0 12px;
}

.cart-btn-remove{
    background: url('https://bizweb.dktcdn.net/100/438/408/themes/848101/assets/remove_cart_nor.svg') center center no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
    height: 18px;
}

.cart-btn-remove:hover{
    background: url('https://bizweb.dktcdn.net/100/438/408/themes/848101/assets/remove_cart.svg') center center no-repeat;
}

.cart-body-row__info__quality{
    display: flex;
}

.qty-btn-group{
    position: relative;
    width: 50%;
}

.qty-minus{
    border-radius: 13px 0 0 13px;
    border: 1px solid #7A7A9D;
    height: 26px;
    width: 32px;
    background-color: var(--white-color);
    float: left;
    cursor: pointer;
}

.qty-number{
    outline: none;
    border: 1px solid #7A7A9D;
    border-left: none;
    border-right: none;
    width: 35px;
    height: 26px;
    padding: 0;
    text-align: center;
}

.qty-plus{
    border-radius: 0px 13px 13px 0px;
    border: 1px solid #7A7A9D;
    height: 26px;
    width: 32px;
    background-color: var(--white-color);
    float: right;
    cursor: pointer;
}

.price-total{
    flex: 1;
    text-align: right;
    font-size: 1.4rem;
    line-height:26px;
}

.price-total__text{
    color: var(--text-color);
}

.price-total .cart-price{
    font-size: 1.7rem;
    display: inline-block;
    color: var(--primary-color);
}

.ship-cart{
    height: 36px;
    text-align: center;
    width: 100%;
    background-color: #F8F8F8;
    line-height: 36px;
    font-size: 1.4rem;
}

.ship-cart__link{
    text-decoration: none;
    color: var(--primary-color );
}

.top-cart-content__footer-btn-view-cart{
    height:100%;
    padding: 10px;
}

.cart-subtotal{
    height: 20px;
    line-height: 20px;
    display: flex;
    justify-content: flex-end;
    font-size: 1.6rem;
    margin-bottom: 10px;

}

.cart-subtotal__text-price{
    color: var(--primary-color );
    margin-left: 6px;
}

/* .btn-checkout-cart{

} */

.btn-process-checkout{
    border: none;
    border-radius: 4px;
    line-height:46px;
    width: 100%;
    font-size: 1.8rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
}
/* Hover */

/* Cart-empty */
.header-cart:hover .top-cart-content {
    display: block;
}

.top-cart-content-empty{
    width: 380px;
    position: absolute;
    text-align: center;
    top: calc(100% + 8px);
    right: 0;
    padding: 20px 0;
    background-color: var(--white-color);
    box-shadow: 0px 3px 25px 0px rgb(31, 38, 67, 0.1);
    font-size: 1.4rem;
    color: var(--black-color);
    opacity: 0;
    animation: fadeIn ease-in 3s;
    display: none;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.top-cart-content-empty::after{
    content: '';
    position: absolute;
    top: -14px;
    right: 0px;
    width: 30px;
    height: 30px;
    background-color: transparent;
}

.top-cart-content-empty__link-login{
    text-decoration: none;
    margin-top: 10px;
    display: block;
    padding: 4px 0;
}

.top-cart-content-empty__link-product{
    text-decoration: none;
}

.top-cart-content-empty__link-login:hover,
.top-cart-content-empty__link-product:hover{
    color: var(--primary-color);
}

/* nav mobile */
.nav-mobile-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
    display: none;
    animation: fadeIn ease-in 0.2s;
}
.nav-mobile{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--width-nav-mobile);
    background-color:var(--white-color);
    z-index: 100;
    text-transform: uppercase;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}
/* Tab UI */
.nav-mobile__tabs {
    display: flex;
    position: relative;
    margin-left: 10px;
    border-bottom: 1px solid #dde1ef;
  }
  .nav-mobile__tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    border-radius: 15px;
    background-color: var(--primary-color);
    transition: all 0.2s ease;
  }
  .tab-item {
    min-width: 56px;
    padding: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    color: var(--black-color);
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.9;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .tab-item:hover {
    opacity: 1;
    background-color: rgba(240, 152, 25, 0.1);
    border-color: rgba(194, 53, 100, 0.1);
  }
  .tab-item.active {
    opacity: 1;
  }
  .mmenu-first {
    padding-top: 10px;
    height: calc(100vh - 102px);
    overflow-y: auto;
  }
  .list-parent_item{
    display: flex;
    align-items: center;
    padding: 0 10px 0 20px;
    margin: 10px 0;
    color: var(--black-color);
    font-size: 1.5rem;
    cursor: pointer;
  }
  .list-parent__has-child:hover .icon-arrow-right{
    margin-right: 14px;
  }
  .list-parent_item:hover .list-parent__has-child-img{
    transform: rotate(20deg);
  }
  .list-parent_item .list-parent__has-child-img{
      margin-right: 12px;
      max-width: 58px;
      border-radius: 50%;
      transition: all 0.5s;
  }
  .list-parent_item span{
    flex: 1;
  }
  .list-parent__has-child .icon-arrow-right{
    margin-right: 20px;
    width: 16px;
    height: 16px;
    background: url('https://bizweb.dktcdn.net/100/438/408/themes/848101/assets/rightmenu.svg') center center no-repeat;
    transition: all 0.3s ease;
  }
  .icon-arrow-left{
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url('https://bizweb.dktcdn.net/100/438/408/themes/848101/assets/leftmenu.svg') center center no-repeat;
  }
  .icon-arrow-right.hidden{
      display: none;
  }
  .tab-pane {
    color: #333;
    display: none;
  }
  .tab-pane.active {
    display: block;
  }
  .tab-pane h2 {
    font-size: 24px;
    margin-bottom: 8px;
  }
/* List-child of List parent */
.list-child-of-list-parent{
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100vh - var(--height-nav-mobile));
    width: 100%;
    background-color: var(--white-color);
    z-index: 200;
    transform: translateX(100%);
    transition: transform .15s linear;
    animation: fadeIn 1s ease-in-out;
    visibility: hidden;
}
.list-parent__has-child.active .list-child-of-list-parent{
    transform: translateX(0);
    visibility: visible;
}
.list-child__title-and-close{
    border-bottom: 1px solid #dde1ef;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.list-child__title-and-close span{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--primary-color);
    padding: 10px;
    padding: 23px 10px 21px;
}

.list-child__body{
    width: 100%;
    padding: 20px;
    height: 100%;
    cursor: auto;
    overflow-y: auto;
    margin: 0;
}
.list-child__body-item{
    margin-bottom: 20px;
}
.list-child__body a{
    margin-bottom: 20px;
}
.list-parent__has-child-img-last{
    border-radius: 2px;
}
.list-parent__has-child-img-last ~ span{
    display: block;
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding: 8px 6px 0;
    color: var(--black-color);
}

/* bottom menu-mobile */
  .nav-mobile__bottom-menu{
    width: var(--width-nav-mobile);
    background-color: var(--white-color);
    display: flex;
    height: var(--height-nav-mobile);
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #dde1ef;
    position: fixed;
    bottom: 0;
    z-index: 300;
  }
  .nav-mobile__bottom-link{
    display: block;
    width: 26px;
    height: 26px;
    position: relative;
  }
  .nav-mobile__bottom-menu a i{
    font-size: 1.8rem;
  }
  .icon-remove-nav-mobile{
    font-size: 2.8rem;
    position: absolute;
    right: 10px;
    top: 6px;
    z-index: 100;
  }
  .input-checkbox-nav-mobile:checked ~ .nav-mobile-overlay{
      display: block;
  }
  .input-checkbox-nav-mobile:checked ~ .nav-mobile{
    transform: translateX(0);
  }
  .category-action{
    display: none;
  }
/* Main body */
.main{
    margin: 0px auto;
}

/* Slider */
.main__slider{
    width: 100%;
    margin-top: 2px;
    /* padding: 0 10px; */
    /* z-index: -1; */
}
.main__slider-phone{
    display: none;
}
.main__slider-item .img-banner img{
    margin: 0 auto;
}
/* Slick slider dots */
.slick-dots{
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.slick-dots li {
        margin: 0 4px;
}
.slick-dots li .dot-out{
    background: white;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}
.slick-dots li.slick-active .dot-in {
    background: orange;
    color: orange;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid white;
}

/* Css service */

/* .main__services{

} */

.main__services-list{
    justify-content: center;
    padding: 16px 0 30px 0;
}

.main__services-item{
    display: flex;
    margin-top: 10px;
    cursor: pointer;
}

.services-item-left{
    display: flex;
    padding: 0px 5px 0px 0;;
}
.services-item-left img{
    margin: auto;
}

.services-item-right{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.title-services{
    font-size: 1.6rem;
    line-height: 18px;
    text-align: top;
    padding-bottom: 5px;
}

.sumary-services{
    font-size: 1.3rem;
    line-height:18px
}
.sumary-services span.bold-primary-color{
    color: var(--primary-color);
}

/* Section products new */
.section-product-new{
    padding: 50px 0 20px;
    background-color:#f8f8f8;
}

.section-product-new__title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: var(--primary-color);
    text-transform: uppercase;
}

.section-product-new__slider-banner{
    /* max-width:1180px; */
    margin: 0 auto 20px;
}


.swiper-produts__item{
    width: 20%;
    /* margin-right: 10px ; */
    margin-bottom: 20px;
    /* padding-left: 10px; */
}

.swiper-produts__item:hover .product-item__img{
    transform: scale(1.1);
}

.swiper-products_thubnail{
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;

}

.swiper-products_thubnail::before{
    content: attr(data-sale);
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 1;
    width: 50px;
    color: var(--white-color);
    background-image: url('https://bizweb.dktcdn.net/100/438/408/themes/848101/assets/sale_tag.svg?1647223995107');
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 1.1rem;
    line-height: 25px;
    padding-left: 8px;
}

.product-item__img{
    display: block;
    position: relative;
    padding-bottom: 132%;
    transition: all 0.5s;
}

.product-item__img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-item__info{
    position: relative;
}

.product-info-name h3{
    display: block;
    height:36px;
    font-size: 1.4rem;
    line-height: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--text-color);
    text-transform: capitalize;
    margin-bottom: 5px;
}

.product-info-name h3:hover{
    color: var(--primary-color);
}

.product-info-price{
    font-size: 1.5rem;
    margin-top: 8px;
    margin-bottom: 8px;
}

.price-current{
    margin-right: 10px;
    color: var(--primary-color);
    font-weight: 600;
}

.product-info-price .price-old{
    text-decoration: line-through;
    font-size: 1.4rem;
    line-height:18px;
    color: #7A7A9D;
    font-weight: 600;
    display: none;
}
.product-info-price-sale .price-old{
    display: inline;
}

.product-info-option-watch{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.product-info-option-watch__item{
    margin-right: 10px;
}

.product-info-option-watch__item .color {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.swiper-products_thubnail__favorite{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 10px;
    background-color: var(--white-color);
    border-radius:100%;
}

.swiper-products_thubnail__favorite .icon-heart{
    width: 15px;
    height: 15px;
    margin: 6px 0 0 5px;
}

.swiper-products_thubnail__favorite .icon-heart-fill{
    display: none;
}
.swiper-products_thubnail__favorite-liked .icon-heart-fill{
    display: block;
}
.swiper-products_thubnail__favorite-liked .icon-heart-empty{
    display: none;
}

/* new tag */
.new-tag{
    position: absolute;
    width: 45px;
    height: 24px;
    top: 10px;
    left: 0;
    background: url('https://bizweb.dktcdn.net/100/438/408/themes/848101/assets/new_tag.svg?1647223995107') left center no-repeat;
    background-size: contain;
    z-index: 1;
    display :none;
}
.swiper-products_thubnail-had-new-tag .new-tag{
    display: block;
}
.swiper-products_thubnail-had-new-tag::before{
    top: 40px;
}

/* main__section-banner */
.main__section-banner{
    padding: 50px 0 30px;
}

/* mian__section-products */
.main__section-products{
    padding: 30px 0 50px;
}
/* title */
.tabs-title{
    margin-bottom: 20px;
}

.tabs{
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
}

.tab-list{
    text-align: center;
}

.tab-link{
    display: inline-block;
    cursor: pointer;
    line-height: 38px;
    border :1px solid #DDE1EF ;
    border-radius: 4px;
    margin: 0 5px;
    font-size: 1.6rem;
    color: var(--text-color);
    text-transform: uppercase;
    padding: 0 20px;
}
.tab-link:hover,
.tab-link.current{
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white-color);

}

/* List product main content */
.swiper-products__list{
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-between;
    align-content: space-between; */
}

.swiper-products__list .swiper-products__item{
    width: 220px;
    margin: 0px 0px 20px;
}

/* Section blog */

.section-blog-item{
    overflow: hidden;
}
.blog_thubnail{
    position: relative;
    margin-bottom: 5px;
    overflow: hidden;
}

.section-blog-item:hover .blog__img{
    transform: scale(1.1);
}
.blog__img{
    display: block;
    position: relative;
    padding-bottom: 75%;
    background-color: #f2f2f2;
    transition: all 0.5s;
}

.blog__img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: inherit;
    max-height: 100%;
    transition: all 0.5s;
}

.content-blog{
    padding: 10px 14px;
    background-color: #F8F8F8;
    cursor:grab;
}

.content-blog__title a{
    display: block;
    height:36px;
    font-size: 1.4rem;
    line-height: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--text-color);
    /* margin-bottom: 5px; */
}
.content-blog__title a:hover{
    color: var(--primary-color);
}

.content-blog__description{
    margin: 5px 0;
    color: #7A7A9D;
    height: 50px;
    font-size: 1.4rem;
    line-height: 18px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align: justify;
}

.section-blog-item .toparticle{
    font-size: 1.2rem;
    margin: 5px 0;
    color: #9a9a9a;
    padding-left: 22px;
    background: url('//bizweb.dktcdn.net/100/438/408/themes/848101/assets/clock.svg?1647335157717') 0px -1px no-repeat;
    line-height: 18px;
    display: inline-block;
}

.footer{
    margin-top: 50px;
    padding-top: 50px;
    background-color: #1e1c56;
    color: var(--white-color);
}
.footer-top{
    margin-bottom: 15px;
}

.footer .logo{
    display: none;
}

.footer-motto{
    font-size: 1.4rem;
    margin-bottom: 30px;
    line-height: 22px;
}

.footer__title{
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.footer__form{
    padding: 0 10px;
    margin-bottom: 30px;
}
.subcribe-form{
    /* border: 1px solid var(--white-color); */
    border-radius: 4px;
    /* padding: 0 10px; */
}
.subcribe-form__btn{
    border: none;
    outline: none;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.6rem;
    cursor: pointer;
    border-radius:  0 4px 4px 0;
}
.subcribe-form__btn:hover{
    color: var(--white-color);
    background-color: var(--primary-color);
}
.subcribe-form__input{
    height: 48px;
    background-color: rgba(255,255,255,0.3);
    color: var(--white-color);
    outline: none;
    border: none;
    font-size: 1.6rem;
    border: 1px solid var(--white-color);
    border-radius:  4px 0 0 4px;
}
.subcribe-form__input::placeholder{
    color: var(--white-color);
}
.footer-social{
    margin-bottom: 30px;
}
.footer-social__link{
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 40px;
    height: 40px;
    transition: all 0.5s;
}
.footer__title.active +ul{
    display: none;
}
.footer-social__link:hover{
    transform: rotate(30deg);
}
.footer__list-menu{
    margin-bottom: 30px;
}
.footer__item-menu{
    font-size: 1.4rem;
    line-height: 28px;
}

.footer__item-menu a{
    color: var(--white-color);
    font-weight: 300;
    display: inline-block;
}

.footer__item-menu a:hover{
    color: var(--primary-color);
}

.footer__item-menu-img{
    position: relative;
    top: 50%;
    left: 46%;
    transform: translateY(-50%);
}
.bct{
    padding-left: 20px;
}

.footer__item-menu-text{
    line-height:22px;
}
.footer_company .footer__item-menu{
    margin-bottom: 10px;
    font-size: 1.6rem;
}
.footer_company .footer__item-menu:last-child .footer__item-menu-img{
    top: 35%;
}
.footer-copy-right{
    font-size: 1.3rem;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid rgba(255,255,255,0.3);
}

.footer-copy-right a{
    color: var(--primary-color);
}

/* Page products */
.title-path-link{
    text-align: center;
    font-size: 1.4rem;
    padding-top: 40px;
}
.title-path-link__list{
    line-height: 24px;
}
.title-path-link__item{
    display: inline;
}
.title-path-link__item a{
    color: var(--black-color);

}
.title-path-link__item::after{
    content: "/";
    margin: 0 1px 0 3px;
}
.title-path-link__item:nth-last-child(2)::after,
.title-path-link__item:last-child::after{
    content: "";
}
.title-path-link__item:last-child a{
    display: block;
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--primary-color);
}

/* Side bar products filter products */
.sidebar{
    padding-top: 45px;
}
.sidebar__filter-selected{
    margin-bottom: 15px;
    padding-bottom: 5px;
}
.sidebar__filter-selected-header{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.sidebar__filter-selected-title{
    font-size: 1.6rem;
    color: var(--black-color);
}

.sidebar__filter-selected-clearAll{
    font-size: 1.4rem;
    cursor: pointer;
}
.sidebar__filter-selected-clearAll:hover{
    color: var(--primary-color);
}

.sidebar__filter-selected-clearAll i{
    font-size: 1.4rem;
}

.sidebar__filter-selected-item{
    display: inline-block;
    margin-right: 10px;
    padding: 3px 7px 5px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--white-color);
    margin-bottom: 8px;
    font-size: 1.4rem;
}

/* Filter category */
.aside-title{
    cursor: pointer;
    position: relative;
    line-height: 24px;
    margin-bottom: 10px;
}
.title-filter{
    font-size: 1.6rem;
}
.aside-title:after{
    content: " ";
    position: absolute;
    right: 0;
    top: 4px;
    width: 16px;
    height: 16px;
    background: url('https://bizweb.sapocdn.net/100/438/408/themes/848101/assets/down_sort.svg') no-repeat center;
    /* transform: rotate(180deg); */
}

.aside-content{
    max-height: 300px;
    overflow: auto;
    transition: max-height 0.3s linear;
}
.aside-content.active{
    max-height: 0;
}
.aside-content__filter-item{
    margin-right: 8px;
    margin-bottom: 8px;
    display: inline-block;
}
.aside-content__filter-item label{
    position: relative;
    cursor: pointer;
}
.aside-content__filter-item label input{
    display: none;
}

.aside-content__filter-item label span{
    display: inline-block;
    font-size: 1.4rem;
    background-color: #f2f2f2;
    color: #7a7a9d;
    border-radius: 4px;
    padding: 0 12px;
    line-height: 32px;
    border: 1px #f2f2f2 solid;
    position: relative;
    text-transform: capitalize;
}
.aside-content__filter-item label span:hover{
    color: var(--primary-color);
    background-color: var(--white);
    border-color: currentColor;
}
.aside-content__filter-item label input:checked + span{
    border-color: var(--primary-color);
    background-color: var(--white-color);
}

.aside-content__filter-item label input:checked + span:after{
    content: "";
    position: absolute;
    top: 0;
    right: -1px;
    height: 22px;
    width: 22px;
    background: url('https://bizweb.sapocdn.net/100/438/408/themes/848101/assets/chose.svg');
}
.filter-show-less img{
    transform: rotate(180deg);
}

/* Filter price */
.sidebar__filter-price .aside-content__filter-item label span{
    display: inline-block;
    font-size: 1.5rem;
    background-color: var(--white);
    color: var(--text-color);
    border-radius: 4px;
    padding: 0 12px;
    line-height: 32px;
    border: none;
    position: relative;
    text-transform: capitalize;
    padding-left: 27px;
}
.filter-price-checkbox{
    position: absolute;
    top: -7px;
    left: 0;
    height: 20px;
    width: 20px;
    background: url('https://bizweb.sapocdn.net/100/438/408/themes/848101/assets/uncheck.png');
}
.aside-content__filter-item label input:checked + .filter-price-checkbox{
    background: url('https://bizweb.sapocdn.net/100/438/408/themes/848101/assets/check.png');
}

/* Main content Products */

/* Section sort */
.section-sort{
    margin-bottom: 10px;
    font-size: 1.6rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.section-sort__count{
    color: #7a7a9d;
}

.section-sort__selected-sort{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.section-sort__selected-sort__title{
    margin-left: 10px;
    position: relative;
}
.section-sort__selected-sort__title .text{
    width: 230px;
    line-height: 46px;
    border: 1px solid #dde1ef;
    display: inline-block;
    border-radius: 4px;
    padding: 0 15px;
    background: url('https://bizweb.sapocdn.net/100/438/408/themes/848101/assets/down_sort.svg') 200px 15px no-repeat;
    cursor: pointer;
}
.section-sort__selected-sort__title .text:hover .section-sort__selected-sort__option{
    display: block;
}

.section-sort__selected-sort__option{
    position: absolute;
    top: 100%;
    right: 0;
    width: 230px;
    z-index: 10;
    border: 1px #dde1ef solid;
    background-color: var(--white-color);
    padding: 10px;
    display: none;
}
.section-sort__selected-sort__option .btn-quick-sort{
    line-height: 30px;
}
.section-sort__selected-sort__option .btn-quick-sort.active a,
.section-sort__selected-sort__option .btn-quick-sort:hover a{
    color: var(--primary-color);
    background: url('https://bizweb.sapocdn.net/100/438/408/themes/848101/assets/check.svg') right center no-repeat;
}

.section-sort__selected-sort__option .btn-quick-sort a{
    display: block;
    color: var(--text-color);
    /* background: url('https://bizweb.sapocdn.net/100/438/408/themes/848101/assets/check.svg') right center no-repeat; */
    background-size: 16px;
}
.section-sort .open-filter-mobile{
    width: 75px;
    font-size: 1.6rem;
    background: url('https://bizweb.sapocdn.net/100/438/408/themes/848101/assets/filterico.svg') right center no-repeat;
    padding-right: 15px;
    padding-left: 10px;
    border-left: 1px solid #dde1ef;
    margin: 7px 0;
    display: none;
    cursor: pointer;
}
/* Filter mobile nav */
.filter-mobile{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 292px;
    background-color: var(--white-color);
    z-index: 100;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
    padding: 10px 10px 60px;
}
.filter-mobile-input{
    display: none;
}
.filter-mobile-input:checked ~ .filter-mobile-overlay{
    display: block;
}
.filter-mobile-input:checked ~ .filter-mobile{
  transform: translateX(0);
}

.filter-mobile-title{
    padding: 6px 24px 16px;
    position: relative;
    margin-bottom: 20px;
}

.filter-mobile-title__text{
    display: block;
    text-align: center;
    font-weight: 600;
    color: var(--primary-color);
    font-size: 1.6rem;
}

.icon-remove-filter-mobile{
    font-size: 2.8rem;
    position: absolute;
    top: 0;
    left: 5px;
}

/* Product detail */
.product-detail-left{
    padding: 0 10px;
}

.gallery-img{
    /* cursor: pointer; */
}

.gallery-img__item{
    margin: 5px 0;
    cursor: pointer;
}

.product-detail-lager-img{
    padding-left: 14px;
    cursor: pointer;
}
.gallery-img-next,
.gallery-img-pre{
    border: none;
    width: 100%;
    height: 25px;
    background-color:#feeeea;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('https://bizweb.sapocdn.net/100/438/408/themes/848101/assets/leftarr.svg');
    cursor: pointer;
}
.gallery-img-next{
    background-image: url('https://bizweb.sapocdn.net/100/438/408/themes/848101/assets/rightarr.svg');
}
