@media (max-width:1023px) {
    .hide-on-mobile-tablet{
        display: none
    }
    .header-cart:hover .top-cart-content {
        display: none;
    }
    /* header */
    .header-search{
        max-width: unset;
        margin-right: 16px;
        margin-left: 28px;
        border-radius: 20px;
    }
    .header-search .btn-search{
        background: #fcaf17 url('https://bizweb.dktcdn.net/100/438/408/themes/848101/assets/search.svg') center center no-repeat;
        overflow: hidden;
        border-radius: 0 20px 20px 0;
    }
    .headerWishlistCount{
        top: -10px;
    }
    .category-action{
        display: block;
    }
    .section-sort .open-filter-mobile{
        display: block;
    }
    .filter-price-checkbox {
        top: -1px;
    }
}

@media (min-width: 740px) and (max-width:1023px) {
    .hide-on-tablet{
        display: none;
    }
}

@media (max-width: 739px) {
    .hide-on-mobile{
        display: none;
    }
    /* header */
    .header-search{
        height: 34px;
    }
    .list-child__title-and-close span{
        font-size: 2rem;
    }
    /* main_slider */
    .main__slider-pc{
        display: none;
    }
    .main__slider-phone{
        display: block;
    }

    .main__services{
        display: none;
    }



    /* footer */
    .footer{
        padding-top: 25px;
    }
    .footer .logo{
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
    .footer-motto{
        text-align: center;
    }
    /* Gap section */
    .section-product-new{
        padding: 20px 0 10px;
    }
    .section-product-new__title{
        margin-bottom: 10px;
    }
    .main__section-banner{
        padding: 20px 0 10px;
    }
    .main__section-products {
        padding: 10px 0 15px;
    }
    .main__section-products .title-block{
        display: none;
    }
    /* base css */
    .title-block{
        margin-bottom: 12px;
    }
    .btn-more{
        font-size: 1.5rem;
        line-height: 40px;
    }
    /* Filter product */
    .section-sort{
        font-size: 1.4rem;
    }
    .section-sort__selected-sort__title .text {
        width: 112px;
        background: url('https://bizweb.sapocdn.net/100/438/408/themes/848101/assets/down_sort.svg') 93px 4px no-repeat;
        line-height: 24px;
        padding-left: 5px;
        /* font-size: 1.4rem; */
    }
    .section-sort__selected-sort__option{
        width: 140px;
    }
    .section-sort .open-filter-mobile{
        font-size: 1.4rem;
    }

}

@media (min-width: 740px) {
    .hide-on-tablet-pc{
        display: none;
    }
}
